%section#top-header.row
  %h1.col-md-2
    = link_to "PSY Wallet", root_path
  - if logged_in?
    %ul.col-md-5.clearfix
      %li= link_to "Buy", buy_path
      %li= link_to "Sell", sell_path
      %li= link_to "Redeem", redeem_path(:slug => current_user.slug)
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, 
            = current_user.name
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to 'Account', root_path
              = link_to "Sign Out", logout_path